*{
    margin:0;
    padding:0;
    background-color: antiquewhite;
}

#gambar img{
    left:620px;
    width:300px;
    height:400px;
    position : relative;
    cursor:pointer;
}

#penjelasan{
    text-align: center;
}

#judul{
    text-align: center;
    margin-top: 40px;
}


